<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>
<body>
    <form id="my-form" method="post" action="/chat/">
        {% csrf_token %}
        What's your name?<br/>
        <input id="name-input" name="name" type="text" size="100" value=""/>
        <br/>
        <button id="name-submit" type="button" value="Enter">
            Enter
        </button>
    </form>
    
    <script>
        document.querySelector('#name-input').focus();
        document.querySelector('#name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#name-submit').click();
            }
        };

        document.querySelector('#name-submit').onclick = function(e) {
            document.querySelector('#my-form').submit();
        };
    </script>
</body>
</html>